.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 100px;
    border: 1px solid;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: #E8A7CE !important;
    color: #1D1F21 !important;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
    background-color: #F962A9 !important;
    transform: scale(1.05);
    transition: all 0.8s;
    color: #1D1F21;
}

.Button:hover:active,
.Button:active,
.Button:focus {
    background-color: #F962A9 !important;
    color: #1D1F21 !important;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Light {
    background-color: #F962A9;
    color: #1D1F21;
}