.Button {
    align-self: center;
    background-color: #E8A7CE !important;
    border-color: transparent;
    border-radius: 100px;
    color: #1D1F21 !important;
    font-size: 0.8rem;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    padding: 4px 10px;
}

.Button:hover {
    background-color: #F962A9 !important;
    border-color: transparent;
    color: #1D1F21;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.8s;
}

.Button:hover:active,
.Button:active,
.Button:focus {
    background-color: #F962A9 !important;
    color: #1D1F21 !important;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Light {
    background-color: #F962A9;
    color: #1D1F21;
}

.UnFollow {
    align-self: center;
    background-color: #36d7b7;
    border-color: transparent;
    border-radius: 100px;
    color: #1D1F21 !important;
    font-size: 0.8rem;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    padding: 4px 10px;
    transform: scale(1.02);
}

.UnFollow:hover {
    background-color: #1F8E7E;
    border-color: transparent;
    color: #1D1F21 !important;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.8s;
}

.UnFollow:focus {
    background-color: #1F8E7E;
    color: #1D1F21 !important;
}