.InfoContent {
    font-weight: 550;
}

.InfoContent h3 {
    font-weight: bold;
}

.InfoContent i {
    color: #F962A9;
    text-decoration: none;
}

/* Media query */
/* For medium laptop screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px) {
    .InfoContent {
        margin-bottom: 4% !important;
    }
}
