.ViralProfiles {
    font-weight: bold;
    text-align: center;
}

/* Media query */
/* For large phone screen sizes from 425px wide and down */
@media screen and (max-width: 425px) {
    .ProfContent {
        margin: 10px auto !important;
    }
}

/* For large tablet screens sizes from 768px wide and down */
@media screen and (max-width: 768px) {
    .ProfContent {
        margin-top: 5% !important;
    }
}

/* For medium laptop screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px) and (min-width: 900px) {
    .ProfContent {
        margin-top: 15.8% !important;
    }
}
