.Post {
    background-color: #CDECFB;
    border-radius: 4px;
    margin-bottom: 16px;
    text-align: center;
    border: 1px solid rgb(121, 118, 118);
  }
  
.PostPic {
    border-radius: 12px;
    padding: 5px;
    width: 90%;
    max-height: 70vh;
    object-fit: cover;
    margin-bottom: 2px;
  }


  /* Bookmark and thumbs icons style */

.Post .Upvote {
    color: #F962A9;
}

.Post .Upvote:hover {
    color: #E8A7CE;
}

.Post .Downvote {
    color: rgb(7, 108, 108);
}