.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    margin-bottom: 16px;
    padding-left: 40px;
}

.SearchIcon {
    font-size: 1.3rem;
    padding: 8px;
    padding-left: 15px;
    position: absolute;
}

.SearchIcon:hover {
    color: #CDECFB;
    cursor: default;
}
