.Post {
    background-color: rgba(205, 236, 251, 0.6);
    border: 1px solid rgb(121, 118, 118);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 16px;
    text-align: center;
}

.Post .Bookmark {
    color: #F962A9;
}

.Post .Bookmark:hover,
.Post .BookmarkOutline:hover {
    color: #E8A7CE;
}

.Post .Dislike {
    color: #F962A9;
}

.Post .Dislike:hover {
    color: #E8A7CE;
}

.Post .Laugh {
    color: #F962A9;
}

.Post .Laugh:hover {
    color: #E8A7CE;
}

.PostBar i {
    padding: 10px;
}

.MemeTitle {
    font-weight: bold;
}

.PostPic {
    border-radius: 12px;
    margin-bottom: 2px;
    max-height: 70vh;
    object-fit: contain;
    padding: 5px;
    width: 90%;
}

/* For large phone screen sizes from 425px wide and down */
@media screen and (max-width: 425px) {
    .PostPic {
        height: auto;
        object-fit: contain;
    }
}
