.AboutContent {
    border: 1px solid #266D66;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 10px;
}

.OwnersMemes {
    font-weight: 600;
}

.ProfileImage {
    height: 120px;
    margin: 4px;
    object-fit: cover;
    width: 120px;
}

.ProfileName {
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
        height: 250px;
        width: 250px;
    }
}

/* For small phone screen sizes from 369px wide and down */
@media screen and (max-width: 369px) {
    .ProfileImage {
        height: 125px;
        width: 125px;
    }

    .ProfileName {
        font-size: 22px;
        text-align: center;
    }
}

/* For small phone screen sizes from 280px wide and down */
@media screen and (max-width: 320px) {
    .OwnersMemes {
    font-size: smaller;
    }
}