.Form {
    border: 1px solid;
    border-radius: 5px!important;
}

.Button {
    border: 1px solid;
    background-color: #E8A7CE !important;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #F962A9 !important;
    color: #1D1F21 !important;
}