.Container {
    padding: 20px 5px;
}

.FillImage {
    border-radius: 2px;
    margin-top: 15px;
}

.Header {
    color: #F962A9;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5em;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.Input {
    background: rgb(205, 236, 251);
    border: 1px solid #dfcceb;
    border-radius: 5px;
    box-sizing: border-box;
    color: #F962A9;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.Link {
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.Link span {
    color: #F962A9;
}

.Row {
    height: calc(95vh - 90px);
}

.SignInCol {
    height: 300px;
}

.SignUpCol {
    height: 350px;
}

/* Media query */
/* For large tablet screens sizes from 768px wide and down */
@media screen and (max-width: 768px) {
    .FillerImage {
        height: auto;
        margin-top: 10%;
        width: 98%;
    }
    .Input {
        margin-left: -10%;
        width: 120%;
    }
}

/* For medium laptop screens sizes from 1024px wide and down */
@media screen and (max-width: 1024px) {
    .FillerImage {
        height: 90%;
        width: 95%;
    }
}
