.App {
    font-family: 'Comfortaa', sans-serif; 
    background-color: rgb(249, 251, 251);
    min-height: 100vh;
}

.Main {
    padding-top: 180px;
  }


.Content {
    background-color: rgb(246, 239, 245);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(121, 118, 118);
    opacity: 0.9;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: #474444;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #F962A9;
}

a:hover i {
    color: #F962A9;
    transition: color ease-in-out 0.4s;
}

i {
    color: #474444;
    font-size: 1.4rem;
    padding: 5px;
    vertical-align: middle;
    font-weight: 400;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.4s;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: rgb(233, 218, 255);

}

*::-webkit-scrollbar-thumb {
    background: rgb(233, 218, 255);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 218, 255);
}